body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-custom-blue {
  background-color: #005aa1;
  color: white;
}

.bg-custom-grey {
  background-color: #373737;
}

.bg-custom-text {
  color: #373737;
}

html,
body {
  background-color: #eef2f5;
  height: 100%;
  margin: 0;
}

.bg-light {
  background-color: #eef2f5 !important;
}

.add-event-row {
  height: 100px;
  overflow: hidden;
}

.add-event-image {
  max-height: 100%;
  width: auto;
}

.add-event-text-col {
  height: 100%;
  overflow: auto;
}

.add-event-title {
  color: #005aa1;
  font-size: 20px;
  font-weight: 400;
}
